@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Syncopate:wght@400;700&display=swap');

/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-frame {
    max-width: 1920px;
    margin: auto;
}

/* Header Styling */

hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.5px;
    border-style: solid;
    border-color: #707070;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 25px 100px 0px 100px;
    position: sticky;
    top: 0;
    justify-content: end;
    z-index: 10;
}

nav {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

header .logo {
    margin-right: auto;
}

header .logo a {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.navbar li {
    text-align: center;
}

.navbar li a::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar li a:hover {
    font-weight: 700;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.navbar a {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

/* About Styling */

.about {
    /* background-color: rgba(255, 0, 0, 0.096); */
    padding: 100px 100px 0px 100px;
}

.fed-head-container {
    /* background-color: rgba(0, 187, 255, 0.453); */
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 100px;
    color: black;
    position: relative;
    z-index: 2;
}

h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: black;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    color: black;
    padding: 20px 0 0 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    letter-spacing: 0.75px;
    line-height: 29px;   
}

#fed-portrait {
    border-radius: 1000px;
    /* height: 100%; */
    width: 100%;
    position: relative;
    top: -50px;
    left: -50px;
}

.about-flexbox {
    /* background-color: rgba(47, 47, 47, 0.542); */
    display: flex;
    height: 420px;
}

.fed-portrait-container {
    /* background-color: rgb(0, 255, 64); */
    width: 420px;
    flex-shrink: 1;
}

.empty-container-1 {
    /* background-color: rgb(43, 0, 255); */
    min-width: 50px;
    flex-grow: 1;
}

.about-container {
    /* background-color: rgb(255, 255, 0); */
    padding: 0 0 50px 0;
    max-width: 580px;
    align-self: flex-end;
    flex-shrink: 3;
}

.empty-container-2 {
    /* background-color: rgb(255, 0, 0); */
    flex-grow: 2;
}

/* Projects Styling */

.projects {
    background-color: #f0f0f0;
    margin-top: 50px;
    padding: 100px 100px 100px 100px;
}

.projects h2 {
    text-align: center;
    margin-bottom: 100px;
}

.projectgallery-flex-container {
    /* background-color: aquamarine; */
    display: flex;
    max-width: 1720px;
    gap: 93px;
}

.projectgallery-flex-container img {
    max-width: 100%;
    filter: grayscale(100%);
    transition: 0.15s ease-in;
}

.projectgallery-flex-container img:hover {
    filter: grayscale(0%);
    transition: 0.15s ease-in;
}

.projectgallery-flex-item {
    flex: 1 1 20.945%;
}

.projectgallery-flex-item p {
    padding: 10px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
    letter-spacing: 0.25px;
    line-height: 22px;   
}

/* Skills Styling */

.skills {
    /* background-color: beige; */
    padding: 100px 100px 100px 100px
}

.skills h2 {
    text-align: center;
    margin-bottom: 100px;
}

.skills-flex-container {
    /* background-color: rgb(243, 197, 136); */
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}

.skills-flex-container li p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
}

/* Contact Styling */

.contact {
    background-color: #f0f0f0;
    padding: 100px 100px 100px 100px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 40px;
}

.contact p {
    margin-bottom: 50px;
}

button {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 18px 44px;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;  
    cursor: pointer;
}

button:hover {
    background-color: #5D5D5D;
    color: #fff;
    transform: rotate(1turn);
    transition: 0.25s ease-in;

}