@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap');

/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header Styling */
hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.5px;
    border-style: solid;
    border-color: #707070;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 100px 100px 0px 100px;
    position: sticky;
    top: 0;
    justify-content: end;
    z-index: 10;
}

nav {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

header .logo {
    margin-right: auto;
}

header .logo a {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.navbar li {
    text-align: center;
}

.navbar li a::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar li a:hover {
    font-weight: 700;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

header nav ul a {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
}


/* Section About Styling */

.about {
    /* background-color: aqua; */
}

.fed-head {
    padding: 100px 100px 0 100px;
    position: relative;
    z-index: 2;
}

.fed-head h1 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 100px;
    color: black;
}

.fed-portrait-container {
    position: relative;
    top: -50px;
    padding-left: 50px;
    z-index: 1;
}

#fed-portrait {
    width: 420px;
    border-radius: 1000px;
}

.about-content {
    max-width: 36%;
    /* padding: 0 30% 0 40%; */
    position: relative;
    top: -280px;
    left: 45%;
    z-index: 2;
}

.section-head {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}

.about-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    letter-spacing: 0.75px;
    line-height: 29px;
}